<div class="row">
  <% @pins.each do |pin| %>
    <div class="col-md-3">
      <div class="card pin">
        <% if pin.image.attached? %>
          <%= link_to (image_tag pin.image, class: "img-fluid card-img-top"), pin %>
        <% else %>
        <%end %>
        <div class="card-body">
          <p><%= pin.description %></p>
        </div>
        <div class="card-footer">
          <%= link_to 'Edit', edit_pin_path(pin) %> | <%= link_to 'Destroy', pin, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
